node_modules/
dist/
.DS_Store
*.log

# Prisma / SQLite
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/dev.db
apps/api/prisma/schema.prod.prisma

# env
.env
.env.local

# build
apps/web/dist/
apps/api/dist/
